{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword)}}
    {{ form_row(registrationForm.phone) }}
    {{ form_row(registrationForm.location) }}
    {{ form_row(registrationForm.department) }}


     {% if registrationForm.vars.value.id is same as(null) %}
        <button type="submit" class="btn btn-primary">Register</button>
    {% else %}

        <button type="submit" class="btn btn-primary">modifier</button>
    {% endif %}
    {{ form_end(registrationForm) }}
{% endblock %}
