{% extends 'base.html.twig' %}

{% block title %}
    {{offer.title}}
{% endblock %}

{% block body %}
    <div class="container">
        {# Offer details #}
        <h2>{{ offer.title }}</h2>

        <div class="row border rounded bg-light p-2 my-2">
            <div class="col-8">
                <h4>Description</h4>
                <p>{{ offer.description }}</p>
                <h4>Localisation</h4>
                <p>{{ offer.location }}</p>
                <h4>Date de mise à jour</h4>
                <p>{{ offer.dateTime|date("d/m/Y") }}</p>

                {# Start block isClosed #}
                <div class="mb-4 d-flex">
                    {% if not offer.isClosed %}
                        <a href="{{ path('application_make', { id: offer.id }) }}" class="btn btn-primary">Répondre à l'annonce</a>
                    {% else %}
                        <span class="badge bg-danger">L'annonce est fermée</span>
                    {% endif %}
                </div>
            </div>
            
            {# Start Carousel #}
            <div id="carousel-annonce" class="carousel slide col-4 p-0" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {# Small select #}
                    {% for image in offer.images %}
                        <button type="button" data-bs-target="#carousel-annonce" data-bs-slide-to="{{ loop.index0 }}" aria-label="Slide {{ loop.index }}" {% if loop.first %} class="active" aria-current="true" {% endif %}></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner rounded" style="height: 450px;">
                    {# Images #}
                    {% for image in offer.images %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <img src="{{vich_uploader_asset(image)}}" class="d-block w-100 object-fit-cover" alt="...">
                        </div>
                    {% endfor %}
                </div>
                {# Btn left #}
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-annonce" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                {# Btn right #}
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-annonce" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {# End Carousel #}
        </div>

        {# Dogs list #}
        <h3 class="m-0">Liste des chiens à l'adoption</h3>
        <div class="container-fluid">
            <div class="d-flex row">
                {% for dog in offer.dogs %}
                    {% include "offer/_dog_card.html.twig" with {dog: dog}  %}
                {% endfor %}
            </div>
        </div>

        {# If user = offer.user show offer.applications #}
        {% if app.user == offer.breeder %}
                {% include "application/_application_table.html.twig" with {applications: offer.applications}  %}
        {% endif %}
    </div>
{% endblock %}
