{% extends 'base.html.twig' %}

{% block title %}Offre numéro : {{offer.id}}{% endblock %}


{% block body %}

{# Start Container for dogs card #}
<div class="container">
{# Title of the offer #}
<h2>{{ offer.title }}</h2>
    <div>
    
    {# 3 first offer images#}
        {# @TODO #}
        {# Only 3 images #}
        {# {% for i in 1..3 %}
            <img src="{{asset("/media/poppy_{i}.jpg")}}" alt="">
            {{i}};
        {% endfor %} #}
            {# Only 3 images #}
            {# {% for image in dog.images %}
                <img src="{{asset(image.path)}}" class="d-block w-100" alt="...">
            {% endfor %} #}

    {# description of the offer #}
    <h3>description</h3>
    <p>{{ offer.description }}</p>

    {# Location #}
    <h3>Localisation</h3>
    <p>{{ offer.location }}</p>

    {# Date #}
    <h3>Date d'ouverture de l'annonce</h3>
    <p>{{ offer.dateTime|date("d/m/Y") }}</p>
</div>

{# Dogs list #}
<h3>Liste des chiens à l'adoption</h3>
    {# Start Container for dogs card #}
    <div class="container-fluid">
        {# End Row Dogs cards #}
        <div class="row">
        {# Start Dogs cards #}
        {% for dog in offer.dogs %}
            {# Start Dog card #}
            <div class="w-25">

            {#  style="min-height: 800px; #}

                <div class="card"">
                    {# Start Carousel #}
                    <div id="carousel-{{ dog.id }}" class="carousel slide" data-bs-ride="carousel gap-2">
                        <div class="carousel-indicators">
                            {# Btn for select the image #}
                            {% for image in dog.images %}
                            <button type="button" data-bs-target="#carousel-{{ dog.id }}" data-bs-slide-to="{{ loop.index0 }}" aria-label="Slide {{ loop.index }}"{% if loop.first %} class="active" aria-current="true"{% endif %}></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner rounded" style="height: 350px;">
                            {# Images #}
                            {% for image in dog.images %}
                                <div class="carousel-item{% if loop.first %} active{% endif %}">
                                    <img src="{{asset(image.path)}}" class="d-block w-100" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                        {# Btn left #}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ dog.id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        {# Btn right #}
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ dog.id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    {# End Carousel #}
                    
                    {# Start card body #}
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                        {# Name #}
                            <h3 class="card-title">{{ dog.name }}</h3>   
                        {# isLOF #}
                            {% if dog.isLOF %}
                                <span class="badge bg-info">Chien LOF</span>
                            {% endif %}
                        </div>
                        {# Breeds #}
                        <p class="card-text">
                            {% for breed in dog.breeds %}
                                <span class="p-2 rounded text-bg-light">
                                    {{ breed.name }}
                                </span>
                            {% endfor %}
                        </p>
                        {# description #}
                        <h5>Description :</h5>
                        <p class="card-text">{{ dog.description }}</p>
                        {# History #}
                        <h5>Antécédents :</h5>
                        <p class="card-text">{{ dog.history }}</p>
                        {# Sociability #}
                        <h5>Sociabilité :</h5>
                        <p class="card-text">{{ dog.sociability }}</p>
                        {# isAdopted #}
                        {% if not dog.isAdopted %}
                            <p class="badge bg-success">Chien disponible</p>
                        {% else %}
                            <p class="badge bg-danger">Chien indisponible</p>
                        {% endif %}
                    </div>
                    {# End card body #}
                </div>
            </div>
            {# End Dog card #}
        {% endfor %}
        {# End Dogs cards #}
        </div>
        {# End Row Dogs cards #}
    </div>
    {# End Container for dogs card #}

    {# isClosed #}
    {% if not offer.isClosed %}
    {# @TODO (modifier path avec la page réponse) #}
        <a href="{{ path('app_default') }}">
            <button type="button" class="btn btn-success">Répondre à l'annonce
            </button>
        </a>
    {% else %}
        <p>L'annonce est fermée</p>
    {% endif %}
</div>
{% endblock %}
