{% extends 'base.html.twig' %}

{% block title %}Répondre à une annonce{% endblock %}

{% block body %}

<div class="container my-5">
<h2 class="mb-3">Répondre à l'annonce : {{offer.title}}</h2>
    {% include "offer/_offer_card.html.twig" with {offer: offer}  %}
    {{form_start(form)}}
        <h3 class="mt-4">Je souhaiterai des informations sur : </h3>
        {{form_widget(form.dogs)}}
        <h3 class="mt-4">Mes informations de contact</h3>
        {{form_widget(form.user)}}
        <h3 class="mt-4">Mon message</h3>
        {{form_widget(form.messages)}}
        <button type="submit"class="btn btn-primary">Envoyer</button>
    {{form_end(form)}}
</div>
{% endblock %}
