{% extends 'base.html.twig' %}

{% block title %}
	Répondre à une annonce
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h3 class="mb-3">{{application.offer.title}}</h3>
		{% include "offer/_offer_card.html.twig" with {offer: application.offer}  %}
	</div>

	<div class="container my-5">
		{% block subject %}
			<H2>votre Conversation concernant la candidature :
			</H2>
		{% endblock %}

		Vous disctuez avec :
		{{application.user}}<br>
		Concernant l'offre :
		{{application.offer.title}}<br>
		Postée par :
		{{application.offer.breeder.email }}<br>
		{% for dog in application.dogs %}
			<p>
				Chien concernés :
				{{ dog.name }}</p>
		{% endfor %}
		<br>

		{{form_start(form)}}
		{{form_widget(form)}}
		<div class="d-flex justify-content-end ">
			<input class="btn btn-primary " type="submit"/>
		</div>
		{{form_end(form)}}

		<h3>Derniers messages :</h3>
		<div class="border border-bottom-0 rounded p-3 mb-2 bg-light">
			{% for message in application.messages %}
				{% if message.isSentByAdopter %}
					<div class="bg-body-secondary fw-bold border rounded p-2 mb-2 w-75 ms-auto" style="--bs-border-opacity: .5;">
						<p>{{ application.user.name }}</p>
					{% else %}
						<div class="bg-body-secondary fw-bold border rounded p-2 mb-2 w-75 me-auto " style="--bs-border-opacity: .5;">
							<p>{{ application.offer.breeder }}</p>
						{% endif %}
						<small>{{ message.dateTime|date('d/m/Y H:i', 'Europe/Paris') }}</small>
						<p>{{ message.text }}</p>
					</div>
				{% endfor %}
			</div>

		</div>
	{% endblock %}
