{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}
{% block body %}
<div class="container my-5">

{% block subject %}
<H2>votre Conversation concernant la candidature :    </H2>
{% endblock %}

vous disctuez avec: {{application.user}}<br>
concernant l'offre: {{application.offer}}<br>
{% for dog in application %}{

    - {{ dogs.collection }}<br>
}

{% endfor %}
{# chien concernés : {{application.dogs}}<br>
dernier message : {{application.messages}} #}
    {# {{ dump(application) }} #}


</div>
{% endblock %}
{% block footer %}{% endblock %}
