{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container">
    <section class="mb-3">
        <h2 class="mb-3">Mes informations</h2>
        <div class="d-flex w-50 ms-5">
            <ul class="list-unstyled w-25">
                <li>Nom : </li>
                <li>E-mail : </li>
                <li>Ville : </li>
                <li>Téléphone : </li>
            </ul>
            <ul class="list-unstyled w-75">
                <li>{{ user.name }}</li>
                <li>{{ user.email }}</li>
                <li>{{ user.location }}</li>
                <li>{{ user.phone }}</li>
            </ul>
        </div>
        <a class="btn btn-warning" href="{{ path('app_register_edit',{id:app.user.id}) }}">Modifier mes informations</a>
    </section>

    {% if  is_granted('ROLE_BREEDER') %}
        {% include "user/_offer_table.html.twig" with {offers: offers}  %}
    {% endif %}
        {% include "user/_application_table.html.twig" with {applications: applications}  %}
</div>
{% endblock %}
