{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.location) }}
    {{ form_row(form.department) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}